body{
    background-image: url(./img/13433552-stockholms-stadsbibliotek-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



header h1{
    margin: 0px;
    color: antiquewhite;
}


.rubrik{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #4D2D18;
    text-align: center;
    height: 80px;
}

.rubrik h1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.rubrik input{
    grid-column-start: 3;
    grid-column-end: 4;
    height: 30px;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 10px;
    
}



.kategorier{
    background-color: #8A6240;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    
}

.kategorier a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
}

.knapp{
    background-color: rgba(0, 0, 0, 0.719);
    color: white;
    padding: 20px;
    width: 400px;
    font-size: 18px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

.knapp:hover{
    background-color:rgba(0, 0, 0, 0.808);
}

.kategorier3{
    display: none;
    background-color: rgba(0, 0, 0, 0.719);
    width: 400px;
    height: 450px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.kategorier3 a:hover{
    background-color: white;
    color: black;
}

.kategorier4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 450px;
}

.kategorier4 a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;

    
}

.vänster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    
}

.höger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}


.show{display: block;}










