body{
    background-image: url(./img/13433552-stockholms-stadsbibliotek-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



header h1{
    margin: 0px;
    color: antiquewhite;
}


.rubrik{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #4D2D18;
    text-align: center;
    height: 80px;
}

.rubrik h1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.rubrik input{
    grid-column-start: 3;
    grid-column-end: 4;
    height: 30px;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 10px;
    
}



.länkar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #8A6240;
    height: 30px;   
}

.länkar a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    height: 30px;
}

.Populärt{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Klassiker{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Barn{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.knapp2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #8A6240;
    text-decoration: none;
    border: none;
    color: antiquewhite;
}



.ämnen{
    display: none;
    background-color:rgba(0, 0, 0, 0.719);
    
}











.show{display: block;}










