header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
}

.rubrik{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #4D2D18;
    color: antiquewhite;
    text-align: center;
}

.kategorier{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8A6240;
    height: 40px;
    
}

.kategorier a{
    text-decoration: none;
    color: antiquewhite;
    
}

.knapp{
    border: none;
    color: antiquewhite;
    background-color: #8A6240;
    height: 40px;
    width: 500px;
    text-align: center;
   

}

.ämnen{
    display: none;
    width: 400px;
    width: 500px;
    background-color: #8A6240;
}

.ämnen a{
    display: block;
}

.innehåll{
    display: flex;
    flex-direction: row;
    width: 500px;
}

.vänster{
    display: flex;
    flex-direction: column;
}

.höger{
    display: flex;
    flex-direction: column;
}

.show{display: block;}





